
  <div id="section3" class="container-fluid">
 
 <video autoplay muted width="100%" height="100%">
  <source src="https://redirector.googlevideo.com/videoplayback?requiressl=yes&ip=2001%3A19f0%3A5%3A1de%3A5400%3Aff%3Afe4f%3A2207&key=yt6&ipbits=0&ratebypass=yes&mn=sn-ab5l6nlr&signature=4F067B6B08F62E4A277AE4A56E0EE0731A55732D.65366C98426C7620EE4514C38D7C8E55F3D743B3&mm=31&ms=au&id=o-ALY9L_uAxUt9sGjVoK2_G4pb04ko0VBytgpAymE7ZirL&ei=b9VNWezHL8up8gSktoTwDQ&mv=m&mt=1498272997&expire=1498294735&sparams=dur%2Cei%2Cid%2Cinitcwndbps%2Cip%2Cipbits%2Citag%2Clmt%2Cmime%2Cmm%2Cmn%2Cms%2Cmv%2Cpl%2Cratebypass%2Crequiressl%2Csource%2Cexpire&lmt=1473141977432228&source=youtube&dur=118.236&mime=video%2Fmp4&pl=54&itag=22&initcwndbps=3178750" type="video/mp4">
  
  Your browser does not support the video tag.
</video>

  <h1 style="text-align:center;margin-top:0px;color:black">Farmers Market</h1>
  

</div>

	
<div id="section41" class="container-fluid">
 
<div class="matter">
 
    

  <p class="who">why Farmers must choose farmers market?</p>
  <p class="who1">we provide storage </p>
  <p class="who2">for <span class="percentage">100% </span>free<br/><span class="percentage">&</span><br/>And we will buy products<br/><br/>upto<span class="percentage">30% </span></p>

<p class="who3">more price than the local retailers</p>

</div>
  
</div>

 <div id="section2" class="container-fluid">

<div class="matter">
  <p class="who"> No More Middle Man's !!!!!! </p>
  <p class="who1">Farmer's Market is the India's First Consulting Service for farmers</p>
  <p class="who1"> We are the only Bridge between the Farmer's and the End Companies & retailers</p>
  <p class="who"> Finally Faremer will get more benefited for their own Hardwork</p>


</div>
   
 </div>

 <div id="section1" class="container-fluid">
 

 
    

  <p class="who">Proving Farmer's an easy platform to sell thier products and for technical assistance </p>
 
  
    
       
<div class="col-xs-6" style="border-right: 1px solid black;height:425px;text-align:center">

  <span class="glyphicon glyphicon-grain" style="font-size:75px;color:black"></span>
 <h4><b>Finish Harvesting</b></h4>
 <p>You can sell your products with one click or call </p>
 <p>Our managers will come to you and take care of everything </p>
 <button style="background-color:forestgreen;color:white;margin-top:25px;" >Sell Products</button>
<p style="margin-top:15px;" >Or</p>
 <span class="glyphicon glyphicon-phone-alt">  5858555555</span>

</div>
<div class="col-xs-6"style="height:425px;text-align:center;">
  <span class="glyphicon glyphicon-user" style="font-size:75px;color:black"></span>
  <h4><b>Need Assistance</b></h4>
  <p>you can get assistance with one click or call </p>
  <p>we will provide technical assistance in all ascpets of farming</p>
  <button style="background-color:forestgreen;color:white;margin-top:25px;">Assistance </button>
  <p style="margin-top:15px;">Or</p>
  <span class="glyphicon glyphicon-phone-alt">   5858666666</span>
</div>

      

      
    
  

</div>
<div id="section42" class="container-fluid">
  <p class="instart" > Students or Employees ?</p>
  <p class="instart2"> Intrested in the Agriculture Research and  developement<br/><button class="butup">SIGN UP NOW</button> </p>
  
  
</div>


    

<div id="section5" class="container-fluid">
 
 <h1 style="text-align:center">Farmers Market</h1>
 <div class="row">
   <div class="col-xs-12" style="border-top:0.5px white solid;margin-top:15px;">
<div class="row">
  <div class="col-xs-12" style="text-align:center">
  
<p> site map <span class="space">|</span> privacy policy <span class="space">|</span> terms of use <span class="space">|</span> terms of service <p>

 <p>All right are reserved @2017 Farmers Market, INC</p>
  </div>
   </div>

 </div>
 </div>
 

</div>